[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/Y0MMY/glfw
[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/Y0MMY/imgui
[submodule "Editor/ThirdParty/ImGuizmo"]
	path = Editor/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "ThirdParty/NVRHI"]
	path = ThirdParty/NVRHI
	url = https://github.com/Y0MMY/NVRHI
[submodule "ThirdParty/lightweightvk"]
	path = ThirdParty/lightweightvk
	url = https://github.com/Y0MMY/lightweightvk
[submodule "Editor/ThirdParty/ImGuiColorTextEdit"]
	path = Editor/ThirdParty/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "ThirdParty/JoltPhysics"]
	path = ThirdParty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "ThirdParty/lua"]
	path = ThirdParty/lua
	url = https://github.com/lua/lua
[submodule "ThirdParty/sol2"]
	path = ThirdParty/sol2
	url = https://github.com/ThePhD/sol2
[submodule "ThirdParty/imgui-node-editor"]
	path = ThirdParty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "ThirdParty/desert-shared"]
	path = ThirdParty/desert-shared
	url = https://github.com/desert-studio/desert-shared
[submodule "Editor/ThirdParty/assimp"]
	path = Editor/ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
